.image-control {
  width: 512px;
  margin: 0 auto;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.image-control button {
  background-color: transparent;
  font-size: 1rem;
  padding: 0.45rem 1rem;
  cursor: pointer;
  color:  rgb(0, 0, 0, 0.75);
  border: 2px solid #c7c8c3;
  border-radius: 8px;
}


.image-control button:hover,
.image-control button:active {
  color: rgb(0, 0, 0, 1);
  border: 2px solid rgb(0, 0, 0, 1);
  background-color: var(--button-hover-bg-color);
  /* background-color: #b7ff00; */
}   

.image-control .button-inpaint {
  border: 2px solid var(--button-hover-bg-color);
  font-size: 1rem;
  font-weight: bold;
  padding: 0.45rem 1rem;
}

.image-upload-label {
    cursor: pointer;
  }

#image-upload {
    display: none;
}
